server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/secure_api_db
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: QF4/5/Y9GbEAq955sV9dlPwNGjva/hXWYF8DOTCz63Q=
    expiration: 86400000